[submodule "zmk-tri-state"]
    path = zmk-tri-state
    url = https://github.com/allymparker/zmk-tri-state.git

[submodule "zmk-rgbled-widget"]
	path = zmk-rgbled-widget
	url = https://github.com/allymparker/zmk-rgbled-widget.git

[submodule "zmk-dongle-display"]
	path = zmk-dongle-display
	url = https://github.com/allymparker/zmk-dongle-display.git
