# Copyright (c) 2023 Ally Parker
# SPDX-License-Identifier: MIT

config SHIELD_CHARMA_LEFT
    def_bool $(shields_list_contains,charma_left)

config SHIELD_CHARMA_RIGHT
    def_bool $(shields_list_contains,charma_right)
