#include "../base/keypos_36keys.h"
#include "../base/layer_names.h"
#include "../base/kp_mac.h"
#include "../base/kp_media.h"


/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

#include "../base/base.keymap"

